* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.navbar { /* I am using 1280 x 120, figma is 1440 x 120 */
    position: fixed;
    left: 0px;
	top: 0px;
	right: 0px;
	height: 120px;
	width: 100%;
	background-color: AliceBlue;
}

#logo-hack {
	position: absolute;
	left: 8.75%; /* 8.75% of my navbar width */
	top: 37.5%; /* 37.5% of my navbar height */
}

#hack-wordmark {
	position: absolute;
	left: 12.5%; /*12.5% of my navbar width*/
	top: 44.17%; /*44.17% of my navbar height*/
}

#tabs {
	position: absolute;
	left: 50.83%; /* 50.83% of my navbar width */
	top: 40.83%; /* 40.83% of my navbar height */
	top: 40.83%;
	bottom: 25%;
	width: 408px;
	height: 41px;
}

.tab-style {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	line-height: 21px;
	font-size: 20px;
	text-align: right;
}

/* position styling for each tab */

#home-style {
	position: absolute;
	left: -0.25%;
	right: 85.29%;
	top: 0%;
	bottom: 48.78%;
}

#events-style {
	position: absolute;
	left: 24.51%;
	right: 59.31%;
	top: 0%;
	bottom: 48.78%;
}

#show-style {
	position: absolute;
	left: 50.49%;
	right: 24.02%;
	top: 0%;
	bottom: 48.78%;
}

#team-style {
	position: absolute;
	left: 85.78%;
	right: 0%;
	top: 0%;
	bottom: 0%;
}

.login-component {
	position: absolute;
	left: 81.94%;
	right: 8.33%;
	top: 30.27%;
	bottom: 25.57%;
}

#login-text {
	position: absolute;
	left: 20%;
	right: 29.29%;
	top: 22.03%;
	bottom: 0%;
	width: 71px;
	height: 41.31px;
}

#login-box {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 7.18%;

	border: 4px solid #2C1638;
	box-sizing: border-box;
	border-radius: 10px;
}

/* styling for non-png wordmark */

/*
.hack-wordmark {
	position: absolute;
	left: 12.5%;
	right: 74.51%;
	top: 44.17%;
	bottom: 34.52%;
	border: 2px solid red;
	width: 187px;
	height: 25.57px;
}

.mark-style {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	line-height: 21px;
	font-size: 20px;
	text-align: right;
}

#acm-mark {
	position: absolute;
	left: -2.56%;
	right: 52.57%;
	top: 0.17%;
	bottom: -0.3%;
	width: 50px; 
	height: 25.61px;
	color: #242424;
}

#hack-mark {
	position: absolute;
	left: 47.43%;
	right: -1.17%;
	top: 0.17%;
	bottom: -0.3%;
	width: 50px;
	height: 25.61px;
	color: #C960FF;
}

*/